.recipe_body {
  color: rgb(56, 53, 53);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe_prime {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10em;
}
.image {
  margin-left: 2em;
}
.back-btn {
  font-size: 0.8em;
  border: none;
  background-color: rgb(32, 110, 110);
  padding: 0.8em;
  text-transform: uppercase;
  color: azure;
  box-shadow: 0 2px 2px 2px rgb(65, 61, 61);
}

@media (max-width: 1000px) {
  .recipe_prime {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4em 2em 4em 3em;
  }
  .image {
    margin: 2em 0 0 0;
    border-radius: 20px;
  }
  .back-btn {
    font-size: small;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 60px;
    color: azure;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgb(65, 61, 61);
  }
}
